table thead tr th {
    border-bottom: 2px solid #ccc;
    padding-left: 48px;
    padding-right: 48px;
}

.add-btn {
    background-color: #4e73de;
    color: white;
}

.containt-btn {
    text-align: right;
}